__pycache__/
*.pyc
*.egg-info/
/build/
/test/csr.csv
/vivado.jou
/vivado.log
/wr-cores/
/urv-core/

litex_wr_nic/firmware/wrpc-sw/
litex_wr_nic/firmware/riscv-11.2-small/
litex_wr_nic/firmware/riscv-11.2-small.tgz
litex_wr_nic/firmware/sdb-wrpc.bin
litex_wr_nic/firmware/spec_a7_wrc.bin
litex_wr_nic/firmware/spec_a7_wrc.boot
litex_wr_nic/firmware/spec_a7_wrc.bram
